.brivla td {
	background-color: #ffcccc; padding: 5px; font-weight: bold;
}
.cmevla td {
	background-color: #ccffff; padding: 5px;  font-weight: bold;
}

.bri {background-color: #ffcccc; font-size: 80%; padding:2px}
.cme {background-color: #ccffff; font-size: 80%; padding:2px}

.main {
	width:100%;
}

.main2 > td {
	vertical-align: top; 
}

.txt {
	padding: 10px 0; font-size: 110%; 
}

.u {
	border: 2px solid green; padding: 20px; vertical-align: top; width:250px;
}

.right {
	margin-left: auto;
}
